<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">
	
	<select id="select" parameterType="Integer" resultType="CartDTO">
		SELECT * FROM cart WHERE cart_id=#{cart_id}
	</select>
	<select id="selectall" resultType="CartDTO">
		SELECT * FROM cart
	</select>
	<insert id="insert" parameterType="CartDTO">
		INSERT INTO cart VALUES (NULL, #{cust_id}, #{book_id}, #{b_count}, #{date},#{book_price},#{book_bname},#{book_img})
	</insert>
	<update id="update" parameterType="CartDTO">
		UPDATE cart SET cust_id =#{cust_id},book_id =#{book_id}, b_count=#{b_count}, date=#{date},book_price=#{book_price},book_bname=#{book_bname},book_img=#{book_img} WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cart_id = #{cart_id}
	</delete>
	
	<select id="cartsall" parameterType="String" resultType="CartDTO">
	SELECT ca.cart_id, ca.cust_id, cu.name as cust_name, bo.b_name as book_name, 
	bo.price as book_price, ca.b_count, ca.date as rdate
	FROM cart ca
	INNER JOIN cust cu ON ca.cust_id = cu.cust_id 
	INNER JOIN book bo ON ca.book_id = bo.book_id
	WHERE ca.cust_id = #{cu.cust_id}
	</select>

</mapper>







